
.main-frame{
    background-color: rgb(255, 198, 198);
    box-sizing:content-box;
  
    
}
body{
    background-color: #ccc;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

